<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.common">

  <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  <uses-permission android:name="android.permission.READ_PHONE_STATE" />
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

  <application>
    <meta-data
        android:name="scheme" android:value="${SCHEME}" />
    <meta-data
        android:name="host" android:value="${HOST}" />
    <meta-data
        android:name="port" android:value="${PORT}" />
    <meta-data
        android:name="auth_url" android:value="${AUTH_URL}" />
    <meta-data
        android:name="file_provider_auth" android:value="${FILE_PROVIDER_AUTH}" />

    <activity android:name=".mvp.view.AdActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />
        <data android:scheme="${SCHEME}"/>
      </intent-filter>
    </activity>

    <provider
        android:name="androidx.core.content.FileProvider" android:authorities="${AUTH_URL}" android:exported="false" android:grantUriPermissions="true">

      <!-- 指定Uri的共享路径 -->
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths" />
    </provider>
    <provider
        android:name=".db.AppProvider" android:authorities="${AUTH_URL}" android:exported="true" android:grantUriPermissions="true" android:multiprocess="true"></provider>
  </application>

</manifest>