<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.common">

  <application>
    <meta-data
        android:name="scheme" android:value="${SCHEME}" />
    <meta-data
        android:name="host" android:value="${HOST}" />
    <meta-data
        android:name="port" android:value="${PORT}" />
    <meta-data
        android:name="auth_url" android:value="${AUTH_URL}" />
    <meta-data
        android:name="file_provider_auth" android:value="${FILE_PROVIDER_AUTH}" />

    <provider
        android:name="androidx.core.content.FileProvider" android:authorities="${AUTH_URL}" android:exported="false" android:grantUriPermissions="true">

      <!-- 指定Uri的共享路径 -->
      <meta-data
          android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_provider_paths" />
    </provider>
    <provider
        android:name=".db.AppProvider" android:authorities="${AUTH_URL}" android:exported="true" android:grantUriPermissions="true" android:multiprocess="true"></provider>

    <activity android:name=".base.BaseWebViewActivity"
        android:exported="true"
        android:screenOrientation="portrait"/>
  </application>

</manifest>