<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.android.guide">
  <application>
    <activity android:name=".business.AdActivity"
        android:screenOrientation="portrait"
        android:theme="@style/Guide.AdTheme">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data
            android:scheme="${SCHEME}"
            android:host="${HOST}"
            android:port="${PORT}"
            android:path="${ADVERT}"
            />
      </intent-filter>
    </activity>

    <activity android:name=".business.GuideActivity"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme.FullScreen">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data
            android:scheme="${SCHEME}"
            android:host="${HOST}"
            android:port="${PORT}"
            android:path="${GUIDE}"
             />
      </intent-filter>
    </activity>
  </application>
</manifest>