<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.home">
  <application>
    <activity
        android:name="com.android.mvp.view.home.MainActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data
            android:scheme="${SCHEME}"
            android:host="${HOST}"
            android:port="${PORT}"
            android:path="${MAIN}"
            />
      </intent-filter>
    </activity>
    <activity
        android:name="com.android.mvp.view.home.HomeSecondActivity"
        android:screenOrientation="portrait">
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.DEFAULT" />
        <data
            android:scheme="${SCHEME}"
            android:host="${HOST}"
            android:port="${PORT}"
            android:path="${HOME_SECOND}"
            />
      </intent-filter>
    </activity>

  </application>

</manifest>